body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main
{
    max-width: fit-content;
    padding: 20px;
    width: 100%;
    min-width: 320px;
}

h1
{
    padding: 20px 0 60px 0;
    text-align: left;
    font-size: 1.85rem;
    text-transform: uppercase;  
}

#albums-section
{
    display: grid;
    grid-template-columns: 100%;
    gap: 40px;
    justify-content: center;
    min-width: 200px;
}

img
{
    width: 100%;
    border-radius: var(--border-radius);
}

img:hover
{
    scale: 105%;
}

img:active
{
    opacity: 0.6;
}

h2, h3
{
    text-align: left;
    padding-top: 10px;
}

h2
{
    padding-top: 12px;
    font-size: 1.5rem;
}

h3 a
{
    font-size: 1.5rem;
    color: #acaaaa;
}

a
{
    text-decoration: none;
}

a:hover
{
    text-decoration:underline;
}

/* MEDIA QUERIES */
@media screen and (min-width: 450px) 
{
    h1
    {
        padding: 10px 0 60px 0;
        text-align: center;
        font-size: 3rem;
        text-transform:none;
    }

    #albums-section 
    {
        grid-template-columns: 200px 200px;
    }

    h2, h3
    {
        text-align: left;
        padding-top: 0;
    }

    h2
    {
        padding-top: var(--padding);
        font-size: 1.05rem;
    }

    h3 a
    {
        font-size: 1rem;
        color: #acaaaa;
    }
}

@media screen and (min-width: 809px) 
{
    #albums-section 
    {
        grid-template-columns: 200px 200px 200px;
    }

    h2
    {
        font-size: 1rem;
    }

    h3 a
    {
        font-size: 0.95rem;
    }
}

@media screen and (min-width: 1300px) 
{
    #albums-section 
    {
        grid-template-columns: 200px 200px 200px 200px 200px;
    }

    h2
    {
        padding-top: var(--padding);
    }
}