body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main
{
    max-width: fit-content;
    padding: 20px;
    width: 100%;
    min-width: 320px;
}

h1
{
    padding: 10px 0 20px 0;
    text-align: center;
    font-size: 3rem;
}

#albums-section
{
    display: grid;
    grid-template-columns: 100%;
    gap: 40px;
    justify-content: center;
    min-width: 200px;
}

img
{
    width: 100%;
    border-radius: var(--border-radius);
}

h2, h3
{
    text-align: left;
}

h2
{
    font-size: 1rem;
}

h3
{
    font-size: 0.85rem;
    color: #acaaaa;
}

@media (min-width: 450px) {
    #albums-section {
        grid-template-columns: 200px 200px;
    }
}

@media (min-width: 809px) {
    #albums-section {
        grid-template-columns: 200px 200px 200px;
    }
}

@media (min-width: 1300px) {
    #albums-section {
        grid-template-columns: 200px 200px 200px 200px 200px;
    }
}

