body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main
{
    max-width: fit-content;
    padding: 20px;
    width: 100%;
    min-width: 320px;
}

h1
{
    padding: 20px 0 60px 0;
    text-align: center;
    font-size: 3rem;
}

#albums-section
{
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
    justify-content: center;
    min-width: 200px;
}

img
{
    width: 100%;
}

h2, h3
{
    text-align: center;
    font-size: 10px;
}


@media (min-width: 480px) {
    #albums-section {
        grid-template-columns: 200px 200px;
    }
}

@media (min-width: 809px) {
    #albums-section {
        grid-template-columns: 200px 200px 200px;
    }
}

