*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-color: #242424;
    --main-color: #F1F3F4;
    --subtle: #6B6B6B;
    --lighter-color: #acaaaa;
    --border-radius: 10px;
    --padding: 8px;
}

body {
    background-color: var(--bg-color);
    color: var(--main-color);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

h1,
h2,
h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    line-height: 1;
}

a {
    color: var(--main-color);
}

button {
    color: var(--bg-color);
    border: 0;
    cursor: pointer;
    background-color: transparent;
    transition: 0.2s;
    font-weight: 700;
}

button:hover {
    transform: scale(1.1);
}

.box {
    border: none;
    background-color: var(--main-color);
    color: var(--bg-color);
    border-radius: 15px;
    transition: 0.2s;
}

.active {
    background-color: var(--bg-color);
    color: var(--main-color);
    box-shadow: -1px 1px 4px rgba(255, 255, 255, 0.5);
}

.filter-top,
.filter-banger {
    padding: 8px;
}