.footer
{
    padding: 160px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
    font-size: 0.95rem;
    color: var(--subtle);
    text-align: center;
}

.footer-element:last-of-type
{
    padding-top: 40px;
    color:var(--main-color)
}



