main {
    align-items: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

h1 {
    font-size: 2rem;
}

.content {
    flex: 1;
    height: 100%;
    overflow: hidden;
    max-height: 70vh;
    max-width: 800px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: auto;
    width: 100%;
}


.artist,
.global-artist {
    color: var(--subtle);
}

.cover-wrapper {
    width: 100%;
    height: 240px;
    background-size: cover;
    background-position: center;
    border-radius: 0 0 22px 22px;
    margin-top: 0;
    position: relative;
}

.album-cover {
    display: none;
}

canvas {
    display: none;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 110%;
    height: 110%;
    transform: translate(-65%, -50%);
}

.album-artist {
    text-decoration: none;
}

.album-artist:hover {
    text-decoration: underline;
}

.album-songs {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 4px;
    padding-right: 8px;
    scrollbar-color: var(--main-color) transparent;
}

.song {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 18px;
    cursor: pointer;
}

.song:hover {
    opacity: 0.7;
    scale: 1.01;
}

.box {
    background-color: var(--main-color);
    /* opacity: 0.6; */
    color: var(--bg-color);
    border-radius: 15px;
}

.active {
    background-color: var(--bg-color);
    color: var(--main-color);
    box-shadow: -1px 1px 4px rgba(255, 255, 255, 0.5);
}

.active button {
    color: var(--main-color);
}

button {
    background-color: transparent;
    border: 0;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.2);
}

.flex {
    display: flex;
    align-items: center;
    gap: 12px;
}

.global-player {
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    gap: 8px;
    padding: 0px 8px;
    border: solid 4px var(--bg-color);
}

.global-cover {
    max-width: 33px;
    border-radius: 2px;
}

.cover {
    position: relative;
    z-index: 1;
}


audio {
    background-color: #F5F1E8;
}

@media (min-width: 768px) {
    main {
        flex-direction: row;
    }

    h1 {
        font-size: 4rem;
    }

    canvas {
        display: block;
    }

    .album-cover {
        display: block;
        border-radius: 500px;
        max-width: 580px;
        transform: translate(-20%);
        width: 100%;
    }

    .album-songs {
        padding-bottom: 0px;
    }

    .cover-wrapper {
        background-image: none !important;
        width: auto;
        max-width: 60%;
        height: auto;
    }
}