.menu {
    position: absolute;
    top: 10px;
    right: 24px;
    z-index: 10;
}

.menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.menu img {
    max-width: 44px;
}