.menu {
    position: absolute;
    top: 10px;
    right: 24px;
    z-index: 10;
}

.menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: 0.2s;
}

.menu a:hover {
    scale: 1.1;
    opacity: 0.8;
}

.menu img {
    max-width: 44px;
}